.van--wrapper{ 
    display: flex;
    justify-content: center;
    gap: 0.5em;
    flex-direction: column;
    margin-bottom: 15px;
}
.van--wrapper img { 
    border-radius: 5px;
}

.van--wrapper .van--info { 
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 700;
    color: #161616;
}
.van--wrapper .van--info p { 
    position: relative;
}

.van--wrapper .van--info p small { 
    position: absolute;
    top: 20px;
    right: 0;
    font-weight: 300;
}
.van--main i {
    background-color: #1a1a1a;
    color: #fff;
    padding: 4px 12px;
    font-size: 0.9em;
    font-weight: bold;
    border-radius: 4px;
    margin-top: 10px;
    pointer-events: none;
}
.van--main .simple { 
    background-color: #E17654;
}
.van--main .rugged { 
    background-color: #115E59;
}