.main__header {
    position: fixed;
    top: 0;left: 0;right: 0;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    background-color: #FFF7ED;
    z-index: 100;
}
.brand--title {
    font-weight: 900;
    font-size: 26px;
}
.main__header ul {
    display: flex;
    gap: 1em;
}
.main__header li a {
    color: #4D4D4D;
    font-weight: 500;
    font-size: 16px;
}
.main__header li a:hover{
    text-decoration: underline;
    color: #000000;
}
.main__header li a.link--selected {
    color: #000000;
    font-weight: 700;
    text-decoration: underline;
}