.van--wrapper{ 
    display: flex;
    justify-content: center;
    gap: 0.5em;
    flex-direction: column;
    margin-bottom: 15px;
}
.van--wrapper img { 
    border-radius: 5px;
}

.van--wrapper .van--info { 
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 700;
    color: #161616;
}
.van--wrapper .van--info p { 
    position: relative;
}

.van--wrapper .van--info p small { 
    position: absolute;
    top: 20px;
    right: 0;
    font-weight: 300;
}
.van--main i {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  color: #fff;
  pointer-events: none;
}
.van--main .simple { 
    background-color: #E17654;
}
.van--main .rugged { 
    background-color: #115E59;
}